@model LineItemsModel

@if (Model != null)
{
    <div class="row">
        <div class="col-12">
            <div class="card bg-transparent">
                <form method="post">
                    <input type="hidden" name="id_token" value="@Model.IdToken" />
                    <h5 class="card-header">
                        Gradebook
                        <button type="submit" class="btn btn-light btn-sm float-right" asp-page-handler="CreateLineItem">
                            Add a line item for <span class="font-italic">@Model.LtiRequest.ResourceLink.Title</span>
                        </button>
                    </h5>
                    <div class="card-body">
                        @Model.Status
                        @if (Model.LineItems == null)
                        {
                            <p>
                                This context does not have any line items yet.
                            </p>
                        }
                        else
                        {
                            <table class="table table-bordered table-responsive-sm border-0">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-left-0 border-top-0"></th>
                                        @foreach (var lineItem in Model.LineItems.OrderBy(l => l.Header))
                                        {
                                            <th scope="col" class="text-center">@lineItem.Header</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var userId in Model.Members.Keys)
                                    {
                                        <tr>
                                            <th scope="row">@Model.Members[userId]</th>
                                            @foreach (var lineItem in Model.LineItems.OrderBy(l => l.Header))
                                            {
                                                <td class="text-center">
                                                    @{ var result = lineItem.Results?.LastOrDefault(r => r.UserId == userId); }
                                                    @if (result == null)
                                                    {
                                                        <span data-toggle="tooltip" title="No scores submitted.">--</span>
                                                    }
                                                    else
                                                    {
                                                        <span data-toggle="tooltip" data-html="true" title="@result.Comment">
                                                            @result.ResultScore.ToString("N1")
                                                        </span>
                                                    }
                                                    @if (userId == Model.LtiRequest.Sub && lineItem.AgsLineItem.ResourceLinkId == Model.LtiRequest.ResourceLink.Id)
                                                    {
                                                        var routeData = new Dictionary<string, string> { { "lineItemUrl", lineItem.AgsLineItem.Id } };
                                                        <button type="submit" class="btn btn-sm btn-link"
                                                                data-toggle="tooltip" title="Add a score"
                                                                asp-page-handler="PostScore"
                                                                asp-all-route-data="@routeData">
                                                            <i class="fa fa-plus-square fa-lg text-light"></i>
                                                        </button>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
}