@page
@using AdvantageTool.Utility
@model DetailsModel

@{
    ViewData["Title"] = "Platforms";
}

<div class="container-fluid">
    <h4>Platform Details</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6 mb-3">
            <div class="card">
                <h5 class="card-header bg-secondary text-light">
                    Platform Settings
                </h5>
                <div class="card-body">
                    <dl>
                        <dt>@Html.DisplayNameFor(m => m.Platform.Name)</dt>
                        <dd>@Model.Platform.Name.IfMissingThen()</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.Platform.Issuer)
                            <tooltip asp-for="Platform.Issuer"></tooltip>
                        </dt>
                        <dd>@Model.Platform.Issuer.IfMissingThen()</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.Platform.JwkSetUrl)
                            <tooltip asp-for="Platform.JwkSetUrl"></tooltip>
                        </dt>
                        <dd>@Model.Platform.JwkSetUrl.IfMissingThen()</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.Platform.AccessTokenUrl)
                            <tooltip asp-for="Platform.AccessTokenUrl"></tooltip>
                        </dt>
                        <dd>@Model.Platform.AccessTokenUrl.IfMissingThen()</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.Platform.AuthorizeUrl)
                            <tooltip asp-for="Platform.AuthorizeUrl"></tooltip>
                        </dt>
                        <dd>@Model.Platform.AuthorizeUrl.IfMissingThen()</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card">
                <h5 class="card-header bg-secondary text-light">
                    Tool Settings
                </h5>
                <div class="card-body">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(m => m.Platform.LoginUrl)
                            <tooltip asp-for="Platform.LoginUrl"></tooltip>
                        </dt>
                        <dd>@Model.Platform.LoginUrl.IfMissingThen()</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.Platform.LaunchUrl)
                            <tooltip asp-for="Platform.LaunchUrl"></tooltip>
                        </dt>
                        <dd>@Model.Platform.LaunchUrl.IfMissingThen()</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.Platform.DeepLinkingLaunchUrl)
                            <tooltip asp-for="Platform.DeepLinkingLaunchUrl"></tooltip>
                        </dt>
                        <dd>@Model.Platform.DeepLinkingLaunchUrl.IfMissingThen()</dd>
                        <dt>@Html.DisplayNameFor(m => m.Platform.ClientId)</dt>
                        <dd>@Model.Platform.ClientId.IfMissingThen()</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.Platform.PrivateKey)
                            <tooltip asp-for="Platform.PrivateKey"></tooltip>
                        </dt>
                        <dd><pre class="security-key">@Model.Platform.PrivateKey.IfMissingThen()</pre></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div>
            <a asp-page="./Edit" asp-route-id="@Model.Platform.Id">Edit</a> |
            <a asp-page="./Index">Back to List</a>
        </div>
    </div>
</div>