@page
@model DetailsModel

@{
    ViewData["Title"] = "Platforms";
}

<div class="container">
    <h4>Platform Details</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6 mb-3">
            <div class="card">
                <h5 class="card-header">
                    Platform Settings
                </h5>
                <div class="card-body">
                    <dl>
                        <dt>@Html.DisplayNameFor(m => m.Platform.PlatformName)</dt>
                        <dd>@Model.Platform.PlatformName</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.Platform.PlatformIssuer)
                            <tooltip asp-for="Platform.PlatformIssuer"></tooltip>
                        </dt>
                        <dd>@Html.DisplayFor(m => m.Platform.PlatformIssuer)</dd>
                    </dl>
                    <div class="alert alert-info">
                        If the Platform Issuer supports OpenID Connect Discover, the next two fields
                        are not used by this Tool.
                    </div>
                    <dl>
                        <dt>@Html.DisplayNameFor(m => m.Platform.PlatformJsonWebKeysUrl)</dt>
                        <dd>@(Model.Platform.PlatformJsonWebKeysUrl??"[Not Set]")</dd>
                        <dt>@Html.DisplayNameFor(m => m.Platform.PlatformAccessTokenUrl)</dt>
                        <dd>@(Model.Platform.PlatformAccessTokenUrl??"[Not Set]")</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card">
                <h5 class="card-header">
                    Tool Settings
                </h5>
                <div class="card-body">
                    <div class="alert alert-info">
                        The @Html.DisplayNameFor(m => m.Platform.ToolClientId)
                        and @Html.DisplayNameFor(m => m.Platform.ToolClientSecret)
                        here must match the values in the Platform.
                    </div>
                    <dl>
                        <dt>@Html.DisplayNameFor(m => m.Platform.ToolClientId)</dt>
                        <dd>@Html.DisplayFor(m => m.Platform.ToolClientId)</dd>
                        <dt>@Html.DisplayNameFor(m => m.Platform.ToolClientSecret)</dt>
                        <dd>[Not Displayed]</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.ToolIssuer)
                            <tooltip asp-for="ToolIssuer"></tooltip>
                        </dt>
                        <dd>@Html.DisplayFor(m => m.ToolIssuer)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Platform.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>
