@page
@model DetailsModel

@{
    ViewData["Title"] = "Platforms";
}

<div class="container">
    <h4>Platform Details</h4>
    <hr />
    <div class="row">
        <div class="col-6">
            <dl>
                <dt>@Html.DisplayNameFor(model => model.Platform.Id)</dt>
                <dd>@Html.DisplayFor(model => model.Platform.Id)</dd>
            </dl>
            <div>
                <a asp-page="./Edit" asp-route-id="@Model.Platform.Id">Edit</a> |
                <a asp-page="./Index">Back to List</a>
            </div>
        </div>
        <div class="col-6">
            <p>The following information was collected from an LTI Resource Link Request.</p>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.Platform.ContactEmail)</dt>
                <dd>@Html.DisplayFor(model => model.Platform.ContactEmail)</dd>
                <dt>@Html.DisplayNameFor(model => model.Platform.Description)</dt>
                <dd>@Html.DisplayFor(model => model.Platform.Description)</dd>
                <dt>@Html.DisplayNameFor(model => model.Platform.Guid)</dt>
                <dd>@Html.DisplayFor(model => model.Platform.Guid)</dd>
                <dt>@Html.DisplayNameFor(model => model.Platform.Name)</dt>
                <dd>@Html.DisplayFor(model => model.Platform.Name)</dd>
                <dt>@Html.DisplayNameFor(model => model.Platform.ProductFamilyCode)</dt>
                <dd>@Html.DisplayFor(model => model.Platform.ProductFamilyCode)</dd>
                <dt>@Html.DisplayNameFor(model => model.Platform.Url)</dt>
                <dd>@Html.DisplayFor(model => model.Platform.Url)</dd>
                <dt>@Html.DisplayNameFor(model => model.Platform.Version)</dt>
                <dd>@Html.DisplayFor(model => model.Platform.Version)</dd>
            </dl>
        </div>
    </div>
</div>
