@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="col">
                <h4>Welcome Stranger!</h4>
                <p>
                    Please <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                    or <a asp-area="Identity" asp-page="/Account/Login">Sign In</a> to configure
                    test Tools.
                </p>
            </div>
        }
        else
        {
            <div class="col-4">
                <h4>Welcome!</h4>
                <p>
                    This is a sample LTI Advantage Tool which you can use to test your Platform
                    or as a <a href="https://github.com/andyfmiller/LtiAdvantageTool">reference
                        implementation</a> of an LTI 1.3 Tool. This tool currently supports:
                    <ul>
                        <li>LtiResourceLinkRequest</li>
                    </ul>
                </p>
                <h4>Getting Started</h4>
                <p>
                    To use this Tool to test your Platform:
                    <ol>
                        <li>
                            <a asp-page="./Clients/Index">Create a Client</a> to record the
                            <code>Client ID</code> that was issued by the Platform, and the
                            Platform's <code>Issuer</code>.
                        </li>
                        <li>
                            Configure your Platform to launch this Tool:
                            <pre class="mt-2">@Url.Page("./Tool", null, null, "https")</pre>
                        </li>
                    </ol>
                </p>
            </div>
            <div class="col-8">
                <h4>Platforms</h4>
                @if (!Model.Platforms.Any())
                {
                    <p>No Clients have been registered.</p>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Platforms[0].PlatformName)</th>
                                <th>@Html.DisplayNameFor(m => m.Platforms[0].ToolClientId)</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var client in Model.Platforms)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => client.PlatformName)</td>
                                <td>@Html.DisplayFor(m => client.ToolClientId)</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
            </div>
        }
    </div>
</div>
