@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div class="row">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="col">
                <h4>Welcome Stranger!</h4>
                <p>
                    Please <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                    or <a asp-area="Identity" asp-page="/Account/Login">Sign In</a> to configure
                    test Tools.
                </p>
            </div>
        }
        else
        {
            <div class="col-6">
                <h4>Welcome!</h4>
                <p>
                    This is a demonstration LTI Advantage Tool which you can use with your Platform.
                    The project is hosted on
                    <a href="https://github.com/andyfmiller/LtiAdvantageTool" target="_blank">
                        GitHub
                    </a>.
                </p>
                <p>
                    This tool currently supports:
                    <ul>
                        <li>
                            <a href="https://www.imsglobal.org/spec/lti/v1p3/" target="_blank">
                                LTI Core Specification v1.3
                            </a>
                        </li>
                        <li>
                            <a href="https://www.imsglobal.org/spec/lti-nrps/v2p0" target="_blank">
                                Names and Role Provisioning Services v2.0
                            </a>
                        </li>
                        <li>
                            <a href="https://www.imsglobal.org/spec/lti-ags/v2p0" target="_blank">
                                Assignment and Grade Services v2.0
                            </a>
                        </li>
                    </ul>
                </p>
                <h4>Getting Started</h4>
                <p>
                    To use this Tool with your Platform:
                    <ol>
                        <li>
                <p>Configure your Platform to launch this Tool...</p>
                <pre class="mt-2 mb-2">@Url.Page("./Tool", null, null, "https")</pre>
                <p>...using this OpenID Connect Login Initiation Page</p>
                <pre class="mt-2 mb-2">@Url.Page("./OidcLogin", null, null, "https")</pre>
                </li>
                <li>
                    <a asp-page="./Platforms/Index">Register your Platform</a> to record the
                    platform's OpenID Connect endpoints, and the client credentials you want
                    this tool to use.
                </li>
                </ol>
                </p>
            </div>
            <div class="col-6">
                <h4>Registered Platforms</h4>
                @if (Model.Platforms == null || !Model.Platforms.Any())
                {
                    <p>No platforms have been registered.</p>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Platforms[0].Name)</th>
                                <th>@Html.DisplayNameFor(m => m.Platforms[0].Issuer)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Platforms)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Issuer</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        }
    </div>
</div>
