@page
@using Newtonsoft.Json
@model ToolModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Launch</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <style type="text/css">
        body {
            overflow-x: hidden;
            margin-bottom: 15px;
        }

            body > .container-fluid {
                padding-top: 15px;
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                @if (string.IsNullOrEmpty(Model.Error))
                {
                    <div class="alert alert-success">Launch Successful!</div>
                }
                else
                {
                    <div class="alert alert-danger">@Model.Error</div>
                }
            </div>
        </div>
        @if (Model.Error.IsMissing())
        {
            <div class="row">
                <div class="col-3">
                    <h4>Welcome!</h4>
                    <p>
                        On the right a representation of the data in the launch request.
                    </p>
                    @if (Model.LtiRequest.NamesRoleService != null)
                    {
                        <h5>Names and Role Service</h5>
                        <form method="post" asp-page-handler="NamesRoleService">
                            <input type="hidden" name="id_token" id="id_token" value="@Model.IdToken" />
                            <input type="hidden" name="context_id" id="context_id" value="@Model.LtiRequest.Context.Id" />
                            <input type="hidden" asp-for="ClientId" />
                            <input type="submit" value="Get Course Members" class="btn btn-secondary" />
                        </form>
                        @Model.MembershipStatus
                    }
                </div>
                <div class="col-9">
                    <div class="card text-white bg-info">
                        <h4 class="card-header">
                            Platform
                        </h4>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="row">
                                        <dl class="col-sm-auto">
                                            <dt>@Html.DisplayNameFor(m => m.LtiRequest.Platform.Name)</dt>
                                            <dd>
                                                <div>
                                                    @(Model.LtiRequest.Platform.Name ?? "(no name)")
                                                </div>
                                                <div>
                                                    @(Model.LtiRequest.Platform.Description ?? "(no description)")
                                                </div>
                                                <div>
                                                    @(Model.LtiRequest.Platform.ProductFamilyCode ?? "(no family code)")
                                                    @(Model.LtiRequest.Platform.Version ?? "(no version)")
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    @if (Model.LtiRequest.Context == null)
                                    {
                                        <div class="row">
                                            <dl class="col-sm-auto">
                                                <dt>Launching User</dt>
                                                <dd>
                                                    <div>
                                                        @(Model.LtiRequest.GivenName ?? "(no first name)")
                                                        @(Model.LtiRequest.FamilyName ?? "(no last name)")
                                                    </div>
                                                    <div>
                                                        @(Model.LtiRequest.Email ?? "(no email)")
                                                    </div>
                                                    <div>
                                                        @(string.Join(", ", Model.LtiRequest.Roles))
                                                    </div>
                                                    <div>
                                                        @(Model.LtiRequest.Lis?.PersonSourcedId ?? "(no sis id)")
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="row">
                                            <dl class="col-sm-auto">
                                                <dt>Resource Link</dt>
                                                <dd>
                                                    <div>
                                                        @(Model.LtiRequest.ResourceLink.Title ?? "(no title)")
                                                    </div>
                                                    <div>
                                                        @(Model.LtiRequest.ResourceLink.Description ?? "(no description)")
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    }
                                </div>
                                @if (Model.LtiRequest.Context != null)
                                {
                                    <div class="col-8">
                                        <div class="card bg-secondary">
                                            <h4 class="card-header">
                                                Course
                                            </h4>
                                            <div class="card-body">
                                                <div class="row">
                                                    <dl class="col-sm-auto">
                                                        <dt>@Html.DisplayNameFor(m => m.LtiRequest.Context.Title)</dt>
                                                        <dd>
                                                            <div>
                                                                @(Model.LtiRequest.Context.Title ?? "(no title)")
                                                            </div>
                                                            <div>
                                                                @(Model.LtiRequest.Context.Label ?? "(no label)")
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </div>
                                                <div class="row">
                                                    <dl class="col-sm-auto">
                                                        <dt>Launching Member</dt>
                                                        <dd>
                                                            <div>
                                                                @(Model.LtiRequest.GivenName ?? "(no first name)")
                                                                @(Model.LtiRequest.FamilyName ?? "(no last name)")
                                                            </div>
                                                            <div>
                                                                @(Model.LtiRequest.Email ?? "(no email)")
                                                            </div>
                                                            <div>
                                                                @(string.Join(", ", Model.LtiRequest.Roles))
                                                            </div>
                                                            <div>
                                                                @(Model.LtiRequest.Lis?.PersonSourcedId ?? "(no sis id)")
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                    @if (Model.Membership != null)
                                                    {
                                                        foreach (var member in @Model.Membership.Members)
                                                        {
                                                            if (member.UserId != Model.LtiRequest.Sub)
                                                            {
                                                                <dl class="col-sm-auto">
                                                                    <dt>Other Member</dt>
                                                                    <dd>
                                                                        <div>
                                                                            @(member.GivenName ?? "(no first name)")
                                                                            @(member.FamilyName ?? "(no last name)")
                                                                        </div>
                                                                        <div>
                                                                            @(member.Email ?? "(no email)")
                                                                        </div>
                                                                        <div>
                                                                            @(string.Join(", ", member.Roles))
                                                                        </div>
                                                                        <div>
                                                                            @(member.SourcedId ?? "(no sis id)")
                                                                        </div>
                                                                    </dd>
                                                                </dl>
                                                            }
                                                        }
                                                    }
                                                </div>
                                                <div class="row">
                                                    <dl class="col-sm-auto">
                                                        <dt>Resource Link</dt>
                                                        <dd>
                                                            <div>
                                                                @(Model.LtiRequest.ResourceLink.Title ?? "(no title)")
                                                            </div>
                                                            <div>
                                                                @(Model.LtiRequest.ResourceLink.Description ?? "(no description)")
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="offset-md-3 col-md-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            JWT Header
                        </div>
                        <pre class="card-body">@Model.Token.Header.ToJsonString()</pre>
                    </div>
                    @if (Model.Membership != null)
                    {
                        <div class="card mb-3">
                            <div class="card-header">
                                Membership Container
                            </div>
                            <pre class="card-body">@JsonConvert.SerializeObject(Model.Membership, Formatting.Indented)</pre>
                        </div>
                    }
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header">
                            JWT Payload
                        </div>
                        <pre class="card-body">@Model.LtiRequest.ToJsonString()</pre>
                    </div>
                </div>
            </div>
        }
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous">
        </script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

</body>
</html>
